<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42330881945-9269u9jv998ur6sjbcc8ssc2fiamd1rp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42330881945-9269u9jv998ur6sjbcc8ssc2fiamd1rp</string>
	<key>API_KEY</key>
	<string>AIzaSyA0wVLqoIzhvfQrLLNKPzE6lXi5OWONrUo</string>
	<key>GCM_SENDER_ID</key>
	<string>42330881945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexpro.ToDoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todoios-a6b30</string>
	<key>STORAGE_BUCKET</key>
	<string>todoios-a6b30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42330881945:ios:0b19f003fee183c5861d08</string>
	<key>DATABASE_URL</key>
	<string>https://todoios-a6b30.firebaseio.com</string>
</dict>
</plist>